<app-cart 
  [wartoscKoszyka]="wartoscKoszyka" 
  (resetKoszyk)="resetujKoszyk()">
</app-cart>

<button (click)="toggleProdukty()">
  {{ pokazProdukty ? 'Ukryj produkty' : 'Pokaż produkty' }}
</button>
<div *ngIf="pokazProdukty">
<app-product 
  [product]="produkty[0]" 
  (dodanoDoKoszyka)="dodajDoKoszyka($event)">
</app-product>
<app-product 
  [product]="produkty[1]" 
  (dodanoDoKoszyka)="dodajDoKoszyka($event)">
</app-product>
<app-product 
  [product]="produkty[2]" 
  (dodanoDoKoszyka)="dodajDoKoszyka($event)">
</app-product>
<app-product 
  [product]="produkty[3]" 
  (dodanoDoKoszyka)="dodajDoKoszyka($event)">
</app-product>
<app-product 
  [product]="produkty[4]" 
  (dodanoDoKoszyka)="dodajDoKoszyka($event)">
</app-product>
</div>