<div>
    <button (click)="toggleWidok()">
      {{ czyZwiniety ? 'Rozwiń' : 'Zwiń' }}
    </button>
  </div>
<div *ngIf="!czyZwiniety">
<table [ngStyle]="{ 'background-color': product.czyPromocja ? 'red' : 'white' }">
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Data utworzenia</th>
      <th>Dodaj do koszyka</th>
      <th>Liczba sztuk w koszyku</th>
    </tr>
    <tr>
      <td>{{ product.nazwa }}</td>
      <td>{{ product.cena + ' zł' }}</td>
      <td>{{ product.dataUtworzenia | date: 'dd.MM.yyyy' }}</td>
      <button (click)="dodajDoKoszyka()">Dodaj!</button>
      <td>{{product.liczbaSztuk}}</td>
    </tr>
  </table>
</div>
  <div *ngIf="czyZwiniety">
    <p>{{ product.nazwa }}</p>
  </div>    
  <br>
  
  